.pg-shop .hero {
    background-image: url("../img/banner/b1.jpg");
    height: 40vh;
    align-items: center;
    text-align: center;
    background-size: cover;
}

.pg-shop .hero > * {
    color: #fff;
    background: none;
}

.pg-shop .hero p {
    margin-top: 0;
}
