@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 22px;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
  color: #222;
}

h5 {
  font-size: 16px;
  line-height: 1.2;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

button {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  padding: 12px 15px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: green;
  color: #fff;
}

.btn--transparent {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  padding: 13px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn--transparent:hover {
  background-color: #fff;
  color: #000;
}

.section-p1 {
  padding: 30px 60px;
}

.section-p1--top0 {
  padding: 0px 60px 30px;
}

.section-m1 {
  margin: 30px 0;
}

.hide-in-mobile {
  display: block;
}

.show-in-mobile {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: rgb(6, 59, 0);
  box-shadow: 0 25px 15px rgba(6,59,0,0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
}

.header__logo img {
  width: 80px;
  height: 80px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-list li {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
  position: relative;
}

.header__nav-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #FFD700;
  transition: all 0.3s ease-in-out;
}

.header__nav-list li a:hover,
.header__nav-list li a.active {
  color: #FFA500;
}

.header__nav-list li a:hover::after,
.header__nav-list li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #FFA500;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.hero {
  background: url("img/hero3.jpg") no-repeat right top 20%;
  min-height: 300px;
  height: calc(100vh - 120px);
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 25px 15px rgba(6,59,0,0.05);
}

.hero h2 {
  margin-bottom: 5px;
  color: #008000;
}

.hero h4 {
  margin-bottom: 15px;
}

.hero button {
  background: url("img/button.png") no-repeat center center transparent;
  width: 187px;
  padding: 14px 20px;
  border: none;
  color: green;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.hero button:hover {
  color:#FFA500;
}

.features {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}

.features .feature__item {
  max-width: 180px;
  text-align: center;
  padding: 25px 5px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.1);
  border: 1px solid #cce7d0;
  border-radius: 4px;
}

.features .feature__item:hover {
  box-shadow: 20px 20px 34px rgba(6,59,0,0.1);
}

.features .feature__item img {
  width: 100%;
  margin-bottom: 10px;
}

.features .feature__item h6,
.features .feature__item:nth-child(n + 1) h6 {
  display: inline-block;
  padding: 0;
  padding: 10px 8px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

.features .feature__item:nth-child(n + 2) h6 {
  background-color: #cdebbc;
}

.features .feature__item:nth-child(n + 3) h6 {
  background-color: #d1e8f2;
}

.features .feature__item:nth-child(n + 4) h6 {
  background-color: #cdd4f8;
}

.features .feature__item:nth-child(n + 5) h6 {
  background-color: #f6dbf6;
}

.features .feature__item:nth-child(n + 6) h6 {
  background-color: #fff2e5;
}

.products {
  text-align: center;
}

.product__collection {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.product__item {
  max-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.product__item:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
}

.product__img {
  width: 100%;
  border-radius: 20px;
}

.product__desc {
  text-align: start;
  padding: 10px 0;
}

.product__brand {
  color: #606063;
  font-size: 12px;
}

.product__title {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product__reviews i {
  font-size: 12px;
  color: rgb(243,181,25);
}

.product__price {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #008000;
}

.product__item .cart {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: green;
  position: absolute;
  bottom: 20px;
  right: 10px
}

#CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.cta__title {
  color: #fff;
}

.cta__subtitle,
.cta__subtitle span {
  font-size: 30px;
  margin: 10px 0;
}

.cta__subtitle {
  color: #fff;
}

.cta__subtitle span {
  color: #ef3636;
}

@media only screen and (max-width: 1024px) {
  .section-p1 {
    padding: 20px 40px;
  }

  .section-p1--top0 {
    padding: 0px 40px 20px;
  }

  header {
    padding: 20px 40px;
  }

  .header__nav-list li {
    margin: 0 12px;
  }

  .hero {
    padding: 0 40px;
    background-position: top 20% right -150px;
  }

  .features {
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  
  h4 {
    font-size: 16px;
    line-height: 1.2;
  }

  button {
    font-size: 12px;
    padding: 10px 10px;
  }

  .section-p1 {
    padding: 20px;
  }

  .section-p1--top0 {
    padding: 0px 20px 20px;
  }

  .hide-in-mobile {
    display: none;
  }

  .show-in-mobile {
    display: block;
  }

  header {
    padding: 20px;
  }

  .header__logo,
  .header__logo img {
    width: 60px;
    height: 60px;
  }

  .header__nav-close {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 1;
    cursor: pointer;
  }

  .header__nav-close i {
    font-size: 18px;
    line-height: 1;
    color: #008000;
    transition: all 0.3s ease-in-out;
  }

  .header__nav-close:hover i {
    color: #FFA500;
  }

  .header__nav {
    position: fixed;
    right: -300px;
    top: 0;
    width: auto;
    min-width: 300px;
    height: 100vh;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 30px 30px;
    transition: all 0.3s ease-in-out;
  }

  .header__nav.active {
    right: 0;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header__nav-list li {
    margin: 0 0 25px 0;
  }

  .header__mobile-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__mobile-links i {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .header__mobile-links i:hover {
    color: #FFA500;
  }

  .header__cart-link {
    cursor: pointer;
  }

  .hero {
    height: 70vh;
    padding: 0 20px;
    background-position: top 20% right -260px;
  }

  .hero h4 {
    margin-bottom: 5px;
  }

  .cta__subtitle,
  .cta__subtitle span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 26px;
    line-height: 1.2;
  }
  
  h3 {
    font-size: 16px;
    line-height: 1.2;
  }

  h4 {
    font-size: 14px;
    line-height: 1.2;
    color: #222;
  }

  h5 {
    font-size: 12px;
    line-height: 1.2;
  }

  h6 {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
  }

  .hero {
    position: relative;
    background-position: top 20% left 5%;
  }

  .hero > * {
    background: rgba(255,255,255,0.6);
    padding: 5px;
    border-radius: 4px;
  }

  .hero h4 {
    margin-bottom: 0;
  }

  .product__item {
    min-width: auto;
    width: 100%;
    max-width: 200px;
  }
}