@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

button {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  padding: 12px 15px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: green;
  color: #fff;
}

.section-p1 {
  padding: 30px 60px;
}

.section-p1--top0 {
  padding: 0px 60px 30px 60px;
}

.section-m1 {
  margin: 30px 0;
}

.btn--normal {
  /* font-size: 14px;
  line-height: 1;
  font-weight: 600;
  padding: 12px 15px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out; */
}

.btn--normal:hover {
  /* background-color: green;
  color: #fff; */
}

.btn--white {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  padding: 13px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn--white:hover {
  background-color: #fff;
  color: #000;
}

body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  /* background: #063B00; */
  background: rgb(6, 59, 0);
  /* background: #0A5D00; */
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.06); */
  box-shadow: 0 25px 15px rgba(6,59,0,0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.75);
}

#logo img {
  width: 80px;
  height: 80px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #FFD700;
  transition: all 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    /* color: #FFBF00; */
  color: #FFA500;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #FFA500;
  position: absolute;
  left: 0;
  bottom: -4px;
}

#hero {
  background: url("img/hero3.jpg") no-repeat right top;
  min-height: 300px;
  height: calc(100vh - 120px);
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 25px 15px rgba(6,59,0,0.05);
}

#hero h2 {
  margin-bottom: 5px;
  color: #008000;
}

#hero h4 {
  margin-bottom: 15px;
}

#hero button {
  background: url("img/button.png") no-repeat center center transparent;
  width: 187px;
  height: 42px;
  color: green;
  /* padding: 14px 20px; */
  /* border: none; */
  /* cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease-in-out; */
}

#hero button:hover {
  color:#FFA500;
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .feature__item {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.1);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#features .feature__item:hover {
  box-shadow: 20px 20px 34px rgba(6,59,0,0.1);
}

#features .feature__item img {
  width: 100%;
  margin-bottom: 10px;
}

#features .feature__item h6,
#features .feature__item:nth-child(n + 1) h6 {
  display: inline-block;
  padding: 0;
  padding: 10px 8px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#features .feature__item:nth-child(n + 2) h6 {
  background-color: #cdebbc;
}

#features .feature__item:nth-child(n + 3) h6 {
  background-color: #d1e8f2;
}

#features .feature__item:nth-child(n + 4) h6 {
  background-color: #cdd4f8;
}

#features .feature__item:nth-child(n + 5) h6 {
  background-color: #f6dbf6;
}

#features .feature__item:nth-child(n + 6) h6 {
  background-color: #fff2e5;
}

.products {
  text-align: center;
}

.product__collection {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.products .product__item {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  /* box-shadow: 20px 20px 30px rgba(0,0,0,0.02); */
  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.products .product__item:hover {
  /* box-shadow: 20px 20px 30px rgba(0,0,0,0.06); */
  box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
}

.products .product__img {
  width: 100%;
  border-radius: 20px;
}

.products .product__desc {
  text-align: start;
  padding: 10px 0;
}

.products .product__brand {
  color: #606063;
  font-size: 12px;
}

.products .product__title {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product__reviews i {
  font-size: 12px;
  color: rgb(243,181,25);
}

.product__price {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #008000;
}

.product__item .cart {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: green;
  position: absolute;
  bottom: 20px;
  right: 10px
}

.cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 40vh; */
  background-size: cover;
  background-position: center;
}

.cta__title {
  color: #fff;
  font-size: 16px;
}

.cta__subtitle {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

.cta__subtitle span {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  color: #ef3636;
}

#CTA {
  background-image: url("img/banner/b2.jpg");
}

#CTA-md,
#CTA-sm {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cta--md {
  align-items: flex-start;
  /* background-image: url("img/banner/b17.jpg"); */
  height: 40vh;
  min-height: 320px;
  padding: 30px;
}

.cta--md-left {
  background-image: url("img/banner/b17.jpg");
}

.cta--md-right {
  background-image: url("img/banner/b10.jpg");
}

.cta--md .cta__title {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.cta--md .cta__subtitle {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.cta--md span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
}

.cta--md:hover .btn--white {
  background-color: #fff;
  color: #000;
}

.cta--sm {
  width: 30%;
  height: 30vh;
  padding: 30px;
  background: #cdcdcd;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.cta--sm:nth-child(2) {
  width: auto;
  flex-grow: 1;
}

.cta--sm-left {
  background-image: url("img/banner/b7.jpg");
}

.cta--sm-middle {
  background-image: url("img/banner/b4.jpg");
}

.cta--sm-right {
  background-image: url("img/banner/b18.jpg");
}

.cta--sm .cta__title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 900;
  color: #fff;
}

.cta--sm .cta__subtitle {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 800;
  color: #ec544e;
}

#Newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: url("img/banner/g2.jpg") no-repeat 20% 30% #041e42;
}

.newsletter-text h4 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.newsletter-text p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #81a08f;
}

.newsletter-text p:last-child {
  margin-bottom: 0;
}

.newsletter-text p span {
  color: #FFD700;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input {
  border-radius: 4px 0px 0px 4px;
}

.newsletter-form button {
  background-color: green;
  color: #fff;
  white-space: nowrap;
  border-radius: 0px 4px 4px 0px;
}

.newsletter-form button:hover {
  background-color: #FFD700;
  color: #000;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-top: 30px;
}

.footer-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
}

footer p {
  font-size: 12px;
  line-height: 1.2;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  line-height: 1.2;
  color: #008000;
  text-decoration: none;
  margin: 0 0 10px 0;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #FFA500;
}

.footer-follow {
  margin-top: 30px;
}

.footer-follow a {
  transition: all 0.3s ease-in-out;
  margin-right: 4px;
}

.footer-follow a:hover {
  color: #FFA500;
}

.footer-install__row {
  display: flex;
  margin-bottom: 20px;
}

.footer-install__row img {
  border: 1px solid #008000;
  border-radius: 4px;
  margin: 0 10px 10px 0;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
}